name: Publish

permissions: 
  contents: read
  packages: write

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        
      - name: Clone upstream
        run: ./cloneUpstream.sh

      - name: Remove Phone Home
        run: ./removePhoneHome.sh

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get the version
        id: version
        run: echo "TAG=$(yq .tag upstream.yaml)" >> $GITHUB_OUTPUT

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: upstream
          push: true
          tags: ghcr.io/corang/cloudserver:${{ steps.version.outputs.TAG }}


